<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yourFirstJobBackend.Properties.Settings.BdYourFirstJobConnectionString"
            connectionString="Data Source=serverbdyourfirstjob.database.windows.net;Initial Catalog=BdYourFirstJob;Persist Security Info=True;User ID=nachogoyenaga;Password=NacHoVaLeMaNueL062508;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>